.dialog {
  position: relative;
  &Close {
    position: absolute;
    z-index: 10;
    right: 20px;
    top: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 160;
    img {
      width: 30px;
    }
  }
  &Container {
    position: relative;
    background-color: #80d9e0;
    // min-height: 400px;
    padding: 55px 25px 25px 25px;
  }
}
