.presenterFull {
    position: relative;
    &Inner {
        position: relative;
        padding: 25px 40px;
    }
    &Video {
        position: relative;
        max-width: 70%;
        margin: 0 auto;
        border-radius: 20px;
        overflow: hidden;
        img {
            max-width: 100%;
        }
    }
}