
.logout {
    position: absolute;
    right: 60px;
    top: -50px;
    z-index: 1099;
  }

  .control {
    background-color: transparent;
    border: none;
    max-width: 40px;
    cursor: pointer;
    padding: 0;
    &:hover {
      label {
        opacity: 1;
      }
    }
    label {
      position: absolute;
      display: block;
      right: calc( 100% + 20px );
      top: 43%;
      transform: translateY(-50%);
      font-size: 15px;
      opacity: 0;
      transition: opacity 200ms;
      font-weight: 300;
    }
    img {
      max-width: 100%;
    }
  }